@model Razor.Models.Product

@{
    // Layout = null;
    ViewBag.Title = "Product Name";
    // Layout = "~/Views/_BasicLayout.cshtml";
    Layout = "~/Views/_BasLayout.cshtml";
}
Product Name: @Model.Name
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model.Name
    </div>
</body>
</html>

