<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="testRegexpForMailNwx.RegExp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <testRegexpForMailNwx.RegExp>
            <setting name="PatternAdded" serializeAs="String">
                <value>(?m)(?&lt;=^[\W^]*?)Added\s(?&lt;Added&gt;[^\:]+)\:\s+\"(?&lt;NewValue&gt;[^\"]+)\"</value>
            </setting>
            <setting name="PatternKeyValue" serializeAs="String">
                <value>(?m)(?n)(?&lt;=^[\W^]*?)(?&lt;Key&gt;[^\:]+)\:\s+\"(?&lt;Value&gt;[^\"]+)\"</value>
            </setting>
            <setting name="PatternRemoved" serializeAs="String">
                <value>(?m)(?&lt;=^[\W^]*?)Removed\s(?&lt;Removed&gt;[^\:]+)\:\s+\"(?&lt;OldValue&gt;[^\"]+)\"</value>
            </setting>
        </testRegexpForMailNwx.RegExp>
    </applicationSettings>
</configuration>