<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="testRest001.Service">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="testRest001.IService"
				  behaviorConfiguration="webHttp" />
      </service>
    </services>
	<behaviors>
	  <endpointBehaviors>
        <behavior name="webHttp">
            <webHttp/>
        </behavior>
      </endpointBehaviors>
     </behaviors>
  </system.serviceModel>

</configuration>
