
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <br />
    <h2>Nested Div</h2>
    <br />

    <div class="row">
        <div class="col-md-7" style=" background:#ccc; height:116px;">

            <div class="span3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nulla dui, ornare at pretium eget, imperdiet quis nisi. Quisque ullamcorper euismod tellus quis facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sed scelerisque elit, sit amet placerat lectus. Fusce aliquam pretium mi varius faucibus.</div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6 col-md-offset-1" style="height:116px; background:#ccc;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nulla dui, ornare at pretium eget, imperdiet quis nisi. Quisque ullamcorper euismod tellus quis facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sed scelerisque elit, sit amet placerat lectus. Fusce aliquam pretium mi varius faucibus.
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-5 col-md-offset-2" style="height:116px; background:#ccc;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nulla dui, ornare at pretium eget, imperdiet quis nisi. Quisque ullamcorper euismod tellus quis facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sed scelerisque elit, sit amet placerat lectus.
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-5 col-md-offset-2" style="height:116px; background:#ccc;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nulla dui, ornare at pretium eget, imperdiet quis nisi. Quisque ullamcorper euismod tellus quis facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sed scelerisque elit, sit amet placerat lectus.
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-6 col-md-offset-1" style="height:116px; background:#ccc;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nulla dui, ornare at pretium eget, imperdiet quis nisi. Quisque ullamcorper euismod tellus quis facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sed scelerisque elit, sit amet placerat lectus. Fusce aliquam pretium mi varius faucibus.
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-7" style=" background:#ccc; height:116px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nulla dui, ornare at pretium eget, imperdiet quis nisi. Quisque ullamcorper euismod tellus quis facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sed scelerisque elit, sit amet placerat lectus. Fusce aliquam pretium mi varius faucibus.
        </div>
    </div>
</body>
</html>
