@inherits System.Web.Mvc.WebViewPage

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <!--- Hello World (from the view) -->
        @ViewBag.Greeting World (from the view)
    </div>
</body>
</html>

