<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net35" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net35" />
  <package id="Ninject.Extensions.Interception" version="3.2.0.0" targetFramework="net35" />
  <package id="Ninject.Extensions.Interception.DynamicProxy" version="3.2.0.0" targetFramework="net35" />
  <package id="Ninject.Extensions.Logging" version="3.2.2.0" targetFramework="net35" />
  <package id="Ninject.Extensions.Logging.nlog3" version="3.2.2.0" targetFramework="net35" />
  <package id="Ninject.Extensions.NamedScope" version="3.2.0.0" targetFramework="net35" />
  <package id="Ninject.MockingKernel" version="3.2.2.0" targetFramework="net35" />
  <package id="Ninject.MockingKernel.NSubstitute" version="3.2.2.0" targetFramework="net35" />
  <package id="NLog" version="3.0.0.0" targetFramework="net35" />
  <package id="NSubstitute" version="1.5.0.0" targetFramework="net35" />
</packages>