<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Authentication.Forms" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Viewengines.Spark" version="1.4.1" targetFramework="net452" />
  <package id="Spark" version="1.7.0.0" targetFramework="net452" />
</packages>