<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit"/><stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <stepAssembly assembly="SpecFlow.Assist.Dynamic"/>
    </stepAssemblies><plugins>
      <!--<add name="SpecFlow.Plus.Excel" type="Generator"/>-->
      <add name="SpecFlow.Plus.Excel" type="Generator"/>
      <!--<add name="ProbeGen" type="Generator" path="..\packages\ProbeGen.SpecFlowPlugin"/>-->
      <!--<add name="ProbeGen" type="Generator"/>-->
      <add name="ProbeGen" type="Generator" path="..\ProbeGen.SpecFlowPlugin\bin\Debug"/>
      <!--<add name="ProbeGen" type="Generator"  path="..\..\ProbeGen.SpecFlowPlugin\bin\Debug\ProbeGen.SpecFlowPlugin.dll"/>-->
      <add name="ProbeRuntime" type="Runtime"/>
      <!--<add name="ProbeRuntimeGen" type="GeneratorAndRuntime"/>-->
    </plugins>
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>